<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {%block head%}
    {%endblock%}
  </head>
  <body>
    <header><nav>
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('pdfmerge')}}">Merge multiple PDF files</a></li>
        <li><a href="{{url_for('imagetopdf')}}"> Convert images into PDF</a></li>
        <li><a href="{{url_for('aboutUs')}}">About us</a></li>
      </ul>
    </nav>
    </header>
    {%block body%}
    {%endblock%}



  </body>
</html>
